{% extends '_login_base.html' %}
{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block content %}
    <h2>Inloggen</h2>

    {% if AUTHENTICATION_ENABLE_OIDC %}
        <div class="btn-group my-4">
            <a href="{% url 'oidc_authentication_init' %}?next={{next}}" class="btn btn-primary">Log in met organisatieaccount</a>
        </div>
    {% endif %}

    <hr />

    {% if AUTHENTICATION_ENABLE_CREDENTIALS %}
        <form method="post" autocomplete="off" class="my-4">
            {% csrf_token %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ error }}
                </div>
            {% endfor %}
            {% endif %}

            <p>{% trans 'Of log in met gebruikersnaam en wachtwoord' %}</p>
            <div class="form-group">
                <input type="text" autocapitalize="off" name="username" class="form-control" id="username" placeholder="{% trans 'Gebruikersnaam' %}">
                <input type="password" name="password" class="form-control" id="password" placeholder="{% trans 'Wachtwoord' %}">
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">{% trans 'Inloggen' %}</button>
            </div>
            <p class="mt-2">
                <a href="{% url 'password_reset' %}">{% trans 'Wachtwoord vergeten' %}</a>
            </p>
        </form>
    {% endif %}
{% endblock %}
