{% load i18n %}{% autoescape off %}
{% blocktrans %}Je ontvangt deze mail omdat je een nieuw wachtwoord hebt aangevraagd voor {{ site_name }}.{% endblocktrans %}

{% trans "Ga naar de volgende pagina om een nieuw wachtwoord in te stellen:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Daarna kun je inloggen met de gebruikersnaam:" %} {{ user.get_username }} {% trans "en het wachtwoord dat je hebt ingesteld." %}

{% endautoescape %}
