{% extends "_login_base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Vul het nieuwe wachtwoord in." %}</p>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}