{% load static %}
{% load render_bundle from webpack_loader %}
{% get_media_prefix as MEDIA_URL %}
<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kees · {{ config.COMPANY_NAME }}</title>
    <link rel="icon" href="{{ MEDIA_URL }}{{ config.FAVICON_IMAGE }}">
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'app' %}
</head>

<body>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>
