{% load static %}
{% load render_bundle from webpack_loader %}
{% get_media_prefix as MEDIA_URL %}
<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page_title %}{{ page_title }} · {% endif %}Kees · {{ config.COMPANY_NAME }}</title>
    <link rel="icon" href="{{ MEDIA_URL }}{{ config.FAVICON_IMAGE }}">
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'app' %}
</head>

<body>
    {% include 'partials/nav.html' %}

    {% block top %}{% endblock %}

    <div class="container-fluid">
        {% if show_sidebar %}
            <div class="row sidebar">
                <div class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="container mt-4 break-word">
                        {% block sidebar %}{% endblock %}
                    </div>
                </div>
        {% endif %}

        {% if show_sidebar %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="container mt-4">
        {% else %}
            <main role="main" class="container">
        {% endif %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% block content %}{% endblock %}

        {% if show_sidebar %}
                </div>
            </main>
        {% else %}
            </main>
        {% endif %}
    </div>
</body>

</html>
