{% load static %}
{% load render_bundle from webpack_loader %}
{% get_media_prefix as MEDIA_URL %}
{% load active %}
<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kees · {{ config.COMPANY_NAME }}</title>
    <link rel="icon" href="{{ MEDIA_URL }}{{ config.FAVICON_IMAGE }}">
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'app' %}
</head>

<body class="login">
    <main role="main" class="container">
        <div class="login-logo">
                <a href="{% url 'cases' %}"><img src="{{ MEDIA_URL }}{{ config.LOGO_IMAGE }}" border="0"></a>
        </div>
        <div class="login-container">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>
