{% extends '_base.html' %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load display_field %}
{% load url_replace %}

{% block sidebar %}
    <form method="GET" action=".">
        {{ filter_form.predefined|as_crispy_field }}

        <hr />

        {{ filter_form.name|as_crispy_field }}

        {{ filter_form.case_type|as_crispy_field }}

        {{ filter_form.current_phase|as_crispy_field }}

        {{ filter_form.assignee|as_crispy_field }}

        {{ filter_form.manager|as_crispy_field }}

        {{ filter_form.status|as_crispy_field }}

        {% if additional_filters %}
            {% for filter in additional_filters %}
                <div id="div_id_{{ filter.key }}" class="form-group">
                    <label for="id_{{ filter.key }}">{{ filter.label }}</label>
                    <div>
                        <select name="{{ filter.key }}" class="select form-control" id="id_{{ filter.key }}">
                            <option value="">---------</option>
                            {% for option in filter.args.choices %}
                                <option value="{{ option }}" {% if request.GET|get_item:filter.key == option %}selected{% endif%}>{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <button type="submit" class="btn btn-primary">Filteren</button>
    </form>
{% endblock %}

{% block content %}
    <h2>{% trans 'Overzicht' %} ({{ paginator.count|intcomma }})</h2>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    {% include 'partials/table_header_item.html' with key='id' label='Nr.' %}
                    {% include 'partials/table_header_item.html' with key='name' label='Naam' %}
                    {% for field in additional_fields %}
                        {% include 'partials/table_header_item.html' with key=field.key label=field.label %}
                    {% endfor %}
                    <th>{% trans 'Fase' %}</th>
                    <th>{% trans 'Type' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for case in page %}
                    <tr>
                        <td>
                            {% if case.is_open %}
                                <i class="fas fa-play-circle text-warning"></i>
                            {% else %}
                                <i class="fas fa-check-circle text-success"></i>
                            {% endif %}
                        </td>
                        <td><a href="/cases/view/{{case.id}}">{{ case.id }}</a></td>
                        <td>
                            <a href="/cases/view/{{case.id}}">{{case.name}}</a>
                            &nbsp;
                        </td>
                        {% for field in additional_fields %}
                            <td>
                                {{ case.data|display_field:field }}
                            </td>
                        {% endfor %}
                        <td>{% if case.current_phase %}{{case.current_phase.name}}{% endif %}</td>
                        <td>{{case.case_type}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Kies pagina">
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item">
                    <a href="?{% url_replace request 'page' page.previous_page_number %}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
            {% endif %}

            {% for i in page_range %}
                <li class="page-item {% if page.number == i %}active{% endif %}">
                    <a href="?{% url_replace request 'page' i %}"><div class="page-link">{{i}}</div></a>
                </li>
            {% endfor %}

            {% if page.has_next %}
                <li class="page-item">
                    <a href="?{% url_replace request 'page' page.next_page_number %}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link" tabindex="-1">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
