{% extends '_base.html' %}
{% load i18n %}
{% load url_replace %}
{% load crispy_forms_tags %}

{% block sidebar %}
    <form method="GET" action=".">
        {{ filter_form|crispy }}
        <button type="submit" class="btn btn-primary">Filteren</button>
    </form>
{% endblock %}

{% block content %}
    <h1>{% trans 'Overzicht' %}</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>{% trans 'Startdatum' %}</th>
                    <th>{% trans 'Naam' %}</th>
                    <th>{% trans 'Fase' %}</th>
                    <th>{% trans 'Type' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for case in page %}
                    <tr>
                        <td><a href="/cases/view/{{case.id}}">#{{ case.id }}</a></td>
                        <td>{{case.created_at|date:"SHORT_DATE_FORMAT"}}</td>
                        <td>
                            <a href="/cases/view/{{case.id}}">{{case.name}}</a>
                            &nbsp;
                        </td>
                        <td>{% if case.current_phase %}{{case.current_phase.name}}{% else %}-{% endif %}</td>
                        <td>{{case.case_type}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Kies pagina">
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item">
                    <a href="?{% url_replace request 'page' page.previous_page_number %}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
            {% endif %}

            {% for i in page_range %}
                <li class="page-item {% if page.number == i %}active{% endif %}">
                    <a href="?{% url_replace request 'page' i %}"><div class="page-link">{{i}}</div></a>
                </li>
            {% endfor %}

            {% if page.has_next %}
                <li class="page-item">
                    <a href="?{% url_replace request 'page' page.next_page_number %}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link" tabindex="-1">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
