{% extends "_login_base.html" %}
{% load i18n %}

{% block content %}
    <p>Inloggen is mislukt omdat je account niet actief is.</p>
    <p>Neem contact op met de beheerder.</p>
    <p class="mt-2"><a href="{% url 'login' %}">Terug naar inloggen</a></p>
{% endblock %}
