{% load static %}
{% load i18n %}
{% load active %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse offcanvas-collapse" id="mainNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% active 'dashboard' %}">
                <a class="nav-link" href="{% url 'dashboard' %}">{% trans 'Mijn zaken' %}</a>
            </li>
            {% if perms.core.can_manage_cases %}
                <li class="nav-item {% active 'cases' %}">
                    <a class="nav-link" href="{% url 'cases' %}">{% trans 'Overzicht' %}</a>
                </li>
            {% endif %}
            {% if config.CREATE_CASE and perms.core.can_manage_cases %}
                <li class="nav-item {% active 'new_case' %}">
                    <a class="nav-link" href="{% url 'create_case' 1 %}">{% trans 'Nieuw' %}</a>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav">
            {% if perms.core.can_manage_cases %}
                <li class="nav-item">
                    <form class="form-inline" method="GET" action="{% url 'cases' %}">
                        <input class="form-control mr-sm-4" type="search" placeholder="{% trans 'Zoeken...' %}" name="name">
                    </form>
                </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="user-menu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.name }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
                    {% if AUTHENTICATION_ENABLE_CREDENTIALS %}
                        <a class="dropdown-item" href="{% url 'password_change' %}">{% trans 'Wachtwoord wijzigen' %}</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans 'Beheerpaneel' %}</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Uitloggen' %}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
