{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block top %}
    {% include 'partials/case_nav.html' %}
{% endblock %}

{% block content %}
    {% if case.is_open %}
        <div class="dropdown">
            <button class="btn btn-light float-right mb-3 dropdown-toggle" type="button" id="attachmentDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans 'Bijlage toevoegen' %}
            </button>
            <div class="dropdown-menu" aria-labelledby="attachmentDropdown">
                <a class="dropdown-item" href="{% url 'create_attachment' case.id 'file' %}">Bestand uploaden</a>
                <a class="dropdown-item" href="{% url 'create_attachment' case.id 'image' %}">Foto maken</a>
            </div>
        </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Bestandsnaam' %}</th>
                    <th>{% trans 'Grootte' %}</th>
                    {% if case.is_open %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for attachment in case.attachments.all %}
                    <tr>
                        <td><a href="{{ attachment.file.url }}">{{ attachment.display_name }}</a><br /></td>
                        <td>{{ attachment.file.size|filesizeformat }}</td>
                        {% if case.is_open %}
                            <td><a href="{% url 'delete_attachment' case.id attachment.id %}"><i class="far fa-trash-alt"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}