{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block top %}
    {% include 'partials/case_nav.html' %}
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Bestandsnaam' %}</th>
                    <th>{% trans 'Grootte' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for attachment in case.attachments.all %}
                    <tr>
                        <td><a href="{{ attachment.file.url }}" target="_blank">{{ attachment.filename }}</a><br /></td>
                        <td>{{ attachment.file.size|filesizeformat }}</td>
                        <td><a href="{% url 'delete_attachment' case.id attachment.id %}"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}