{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block top %}
    {% include 'partials/case_nav.html' %}
{% endblock %}

{% block content %}
    {% if selected_phase %}
        <form method="POST" action="{% url 'view_case_phase' case.id selected_phase.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">{% trans 'Opslaan' %}</button>
        </form>
    {% else %}
        {% trans 'Deze zaak heeft geen huidige fase.' %}
    {% endif %}
{% endblock %}
